node_modules
*.mp4
backend/Impr-Assoc-counter_demo/__pycache__/*
backend/Impr-Assoc-counter_demo/*/__pycache__/*
backend/Impr-Assoc-counter_demo/models/*
backend/Impr-Assoc-counter_demo/Impr_Assoc_Track/__pycache__/*
backend/Impr-Assoc-counter_demo/Impr_Assoc_Track/__pycache__/__pycache__/*
input_videos/*
output_dir/*
backend/Impr-Assoc-counter_demo/*.nsys-rep
backend/Impr-Assoc-counter_demo/*.sqlite
backend/Impr-Assoc-counter_demo/datasets
backend/Impr-Assoc-counter_demo/yolov8n_pytorch_output.txt
backend/Impr-Assoc-counter_demo/yolov8n_trt_fp16_output.txt
backend/Impr-Assoc-counter_demo/yovov8n_trt_output.txt
backend/Impr-Assoc-counter_demo/03-2023-10-31T14-2M-ECSCMacLeanBridgeEast/*
backend/Impr-Assoc-counter_demo/output_dir/*
backend/Impr-Assoc-counter_demo/analysis_outputs/
backend/Impr-Assoc-counter_demo/videos/*
backend/Impr-Assoc-counter_demo/.ipynb_checkpoints/
backend/Impr-Assoc-counter_demo/ConfTrack/.ipynb_checkpoints/
backend/Impr-Assoc-counter_demo/LSTMTrack/.ipynb_checkpoints/
backend/static/*
coordinates.txt
backend/line_crossings.txt
backend/track_logs.txt
