node_modules
*.mp4
backend/tracking/__pycache__/*
backend/tracking/*/__pycache__/*
backend/tracking/Impr_Assoc_Track/__pycache__/*
backend/tracking/Impr_Assoc_Track/__pycache__/__pycache__/*
input_videos/*
output_dir/*
backend/tracking/*.nsys-rep
backend/tracking/*.sqlite
backend/tracking/datasets
backend/tracking/yolov8n_pytorch_output.txt
backend/tracking/yolov8n_trt_fp16_output.txt
backend/tracking/yovov8n_trt_output.txt
backend/tracking/03-2023-10-31T14-2M-ECSCMacLeanBridgeEast/*
backend/tracking/output_dir/*
backend/tracking/analysis_outputs/
backend/tracking/videos/*
backend/tracking/.ipynb_checkpoints/
backend/tracking/ConfTrack/.ipynb_checkpoints/
backend/tracking/LSTMTrack/.ipynb_checkpoints/
backend/tracking/tests
backend/static/uploads
backend/static/outputs
coordinates.txt
backend/line_crossings.txt
backend/track_logs.txt
progress.txt
track_logs.txt
.aider*
cache*
backend/Impr_Assoc-counter_demo/fast_reid
*.sqlite
*.json
*.vsidx
*.wsuo
*.VC.db
*workspaceFile*
*.DS_Store
index.html
backend/Impr-Assoc-counter_demo/report1.nsys-rep
backend/Impr-Assoc-counter_demo/yolov8n_pytorch_output.txt
backend/Impr-Assoc-counter_demo/yolov8n_trt_fp16_output.txt
backend/Impr-Assoc-counter_demo/yovov8n_trt_output.txt
backend/Impr-Assoc-counter_demo/datasets/*
*.pyc
backend/Impr-Assoc-counter_demo/models/benchmarks.log
backend/Impr-Assoc-counter_demo/models/calibration_image_sample_data_20x128x128x3_float32.npy
backend/Impr-Assoc-counter_demo/models/model_b1_gpu0_fp32.engine
backend/Impr-Assoc-counter_demo/models/osnet_ms_d_c.pth.tar
backend/Impr-Assoc-counter_demo/models/yolov8m-2024-01-29.engine
backend/Impr-Assoc-counter_demo/models/yolov8m-2024-01-29.onnx
backend/Impr-Assoc-counter_demo/models/yolov8m-2024-01-29.pt
backend/Impr-Assoc-counter_demo/models/yolov8m-2024-01-29.torchscript
backend/Impr-Assoc-counter_demo/models/yolov8n_trt_fp16_output.txt
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_int8_trt.engine
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_int8.engine
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_int8.onnx
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_int8.pt
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_optimal_trt.engine
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best.engine
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best.onnx
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best.pb
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best.pt
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best.torchscript
backend/Impr-Assoc-counter_demo/models/yolov8s-2024-02-14-best_fp16_trt.engine
backend/Impr-Assoc-counter_demo/models/yolov8s-2024-02-16-best_fp16_trt.engine
backend/Impr-Assoc-counter_demo/models/runs/detect/predict/bus.jpg
backend/Impr-Assoc-counter_demo/models/runs/detect/predict/zidane.jpg
backend/Impr-Assoc-counter_demo/models/runs/detect/predict2/bus.jpg
backend/Impr-Assoc-counter_demo/models/runs/detect/predict2/zidane.jpg
backend/Impr-Assoc-counter_demo/models/runs/detect/predict3/03-2023-10-31T14-2M-ECSCMacLeanBridgeEast.avi
backend/Impr-Assoc-counter_demo/models/runs/detect/predict4/03-2023-10-31T14-2M-ECSCMacLeanBridgeEast.avi
backend/Impr-Assoc-counter_demo/models/runs/detect/predict5/03-2023-10-31T14-2M-ECSCMacLeanBridgeEast.avi
backend/Impr-Assoc-counter_demo/models/runs/detect/predict6/bus.jpg
backend/Impr-Assoc-counter_demo/models/runs/detect/predict6/zidane.jpg
backend/Impr-Assoc-counter_demo/models/runs/detect/predict7/bus.jpg
backend/Impr-Assoc-counter_demo/models/runs/detect/predict7/zidane.jpg
backend/Impr-Assoc-counter_demo/models/yolov8m-2024-01-29_paddle_model/metadata.yaml
backend/Impr-Assoc-counter_demo/models/yolov8m-2024-01-29_saved_model/metadata.yaml
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_paddle_model/metadata.yaml
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/fingerprint.pb
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/metadata.yaml
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/saved_model.pb
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/yolov8n-2023-11-03-best_float16.tflite
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/yolov8n-2023-11-03-best_float32.tflite
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/yolov8n-2023-11-03-best_full_integer_quant.tflite
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/yolov8n-2023-11-03-best_int8.tflite
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/yolov8n-2023-11-03-best_integer_quant.tflite
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/variables/variables.data-00000-of-00001
backend/Impr-Assoc-counter_demo/models/yolov8n-2023-11-03-best_saved_model/variables/variables.index
