node_modules
*.mp4
backend/tracking/__pycache__/*
backend/tracking/*/__pycache__/*
backend/tracking/Impr_Assoc_Track/__pycache__/*
backend/tracking/Impr_Assoc_Track/__pycache__/__pycache__/*
input_videos/*
output_dir/*
backend/tracking/*.nsys-rep
backend/tracking/*.sqlite
backend/tracking/datasets
backend/tracking/yolov8n_pytorch_output.txt
backend/tracking/yolov8n_trt_fp16_output.txt
backend/tracking/yovov8n_trt_output.txt
backend/tracking/03-2023-10-31T14-2M-ECSCMacLeanBridgeEast/*
backend/tracking/output_dir/*
backend/tracking/analysis_outputs/
backend/tracking/videos/*
backend/tracking/.ipynb_checkpoints/
backend/tracking/ConfTrack/.ipynb_checkpoints/
backend/tracking/LSTMTrack/.ipynb_checkpoints/
backend/static/uploads
backend/static/outputs
coordinates.txt
backend/line_crossings.txt
backend/track_logs.txt
progress.txt
track_logs.txt
.aider*
cache*
backend/Impr_Assoc-counter_demo/fast_reid
*.sqlite
*.json
*.vsidx
*.wsuo
*.VC.db
*workspaceFile*

