numpy = 1.26.3
opencv-python
loguru
scikit-image
scikit-learn
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
matplotlib
scipy
prettytable
easydict
pyyaml
yacs
termcolor
gdown
onnx
onnxruntime
onnxruntime-gpu
supervision
tensorflow
roboflow
torchreid
ultralytics
plotly
pandas
pillow
faiss-gpu
flask
cupy = 13.0.0

