numpy==1.26.3
opencv-python
loguru
scikit-image
scikit-learn
tqdm
torchvision>=0.10.0
Pillow
thop
tabulate
tensorboard
motmetrics
filterpy
h5py
matplotlib
scipy
prettytable
easydict
pyyaml
yacs
termcolor
gdown
# onnxruntime
# onnxruntime-gpu
supervision
tensorflow
roboflow
# torchreid
ultralytics
plotly
pandas
pillow
flask
Flask-Reuploaded
flask-socketio
watchdog
scikit-learn
kaleido
# cupy==13.0.0
# faiss-gpu


